img[src*="icon-"] {
	height: 43px;
	width: 43px;
}

img[src*="aspect"] {
	border: 4px solid black;
	border-radius: 25px;
	height: 35px;
	width: 35px;
}

section > img[src*="jade"] {
    object-position: 0 -15px;
}

.textContainer img:last-of-type {
    border: 4px solid black;
    border-radius: 25px;
	height: 35px;
	width: 35px;
}

.characters-homestuck h2 {
	font-family: "Press Start 2P";
}

.characters-problemSleuth h2 {
	font-family: "Rialto";
    -webkit-text-stroke: unset !important;
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
}

.popup {
    font-family: "Andika";
    font-weight: normal;
    position: relative;
    bottom: 32%;
    left: 2%;
}