/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Andika&family=Rubik&family=Zen+Dots&family=Berkshire+Swash&Press+Start+2P&display=swap');

@font-face {
	font-family: "Open Dyslexic";
	src: url(../font/OpenDyslexic3-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Rialto";
    src: url(../font/rialto.regular.ttf) format("truetype");
}

/* Main font, cursor, and site background */
body {
	font-family: "Andika", "Rubik", "Trebuchet MS", "Tahoma", "Verdana", sans-serif;
	line-height: 1.1em;
	background: linear-gradient(
        to right,
        rgba(218, 221, 152, .965),
        rgba(209, 240, 192, .94),
        rgba(218, 221, 152, .965)
    ), url(../images/pattern-mspa.png);
    background-size: 20vw;
    cursor: url(/images/cursor-space.png), auto;
}

/* Headers */
h2, h3 {
    color: white;
    -webkit-text-stroke: 1.5px black;
    font-weight: bold;
}

h2 {
    font-size: 2.5em;
}

/* Links */
a {
    text-decoration: none;
    transition: all linear 300ms;
    -ms-transition: all linear 300ms;
    -o-transition: all linear 300ms;
    -moz-transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    -khtml-transition: all linear 300ms;
    text-shadow: 0    25px 2.5px transparent,
                 0   -25px 2.5px transparent;
}

a:hover {
    text-decoration: none;
    color: red;
    text-shadow: 2px 2px 2px rgba(140, 60, 30, .4),
                 2px 2px 2px rgba(140, 60, 30, .4);
	cursor: url(/images/cursor-void.png), pointer;
}

/* Nav */
nav {
    background: green;
    border: 15px ridge orange;
    border-radius: 20px;
    line-height: 1em;
    display: flex;
}

nav ul {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li a {
    color: gold;
    text-shadow: 2px 2px 2px black;
    font-family: "Open Dyslexic";
    font-weight: bold;
    font-size: 2em;
    margin-left: 25px !important;
    margin-bottom: 25px !important;
}

nav li a.active {
    color: #c89875;
    cursor: auto;
    pointer-events: none;
    border-bottom: 7px solid black;
}

/* Header image */
nav img {
    display: inline-block;
    height: 50px;
    width: 170px;
    border: 5px ridge black;
    vertical-align: center;
}

/* Webkit scrollbar */
::-webkit-scrollbar {
    background: white;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb {
    background: #4CBB17;
    border: 2px solid black;
}

::-webkit-scrollbar-thumb:hover {
    background: lime;
}

/* Text highlight colour */
::selection {
    background: white;
    color: black;
}

::-moz-selection {
    background: white;
    color: black;
}

::-webkit-selection {
    background: white;
    color: black;
}